<div style="display:inline-block; float: right;">
    <table class="table table-bordered">
      <thead>
        <tr><td>Overall Rating:</td><td colspan="4" style="text-align: center"><%= @product.reviews.average(:rating).to_i %></td>
        <tr>
          <th>Rating</th>
          <th>Reviews</th>
          <th>Created_at</th>
          <th>Delete</th>
          <th>My review?</th>
        </tr>
      </thead>
      <tbody>
      <% @product.reviews.order(created_at: :desc).each do |review| %>
      <tr><td><%= review.rating %></td><td><%= review.content %></td><td><%= review.created_at %></td>
      <% if session[:user_id] == review.user_id %>
      <td>
        <%= link_to fa_icon('trash'), product_path(review.product_id), class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
      </td>
      <td>   </td>
      <% else %>
      <td><%= '3rd Party' %></td>
      <td> No </td>
      <% end %>
      </tr>
      <% end %>
    </tbody>
</div>
