<!DOCTYPE html>
<html>
<head>
  <title>Jungle</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render 'layouts/top_nav' %>

  <% if current_user %>
  <h4>**Signed in as :<%= current_user.name %> | <%= link_to "Logout", '/logout' %>**</h4>
  <% else %>
  <h4><%= link_to 'Login', '/sessions/new' %> | <%= link_to 'Signup', '/users/new' %></h4>
  <% end %>

  <main class="container">
    <% flash.each do |name, msg| %>
    <h3 style="color:orange; background-color: black;"><%= msg %> </h3>
    <% end %>

    <%= yield %>
  </main>

  <%= yield :end_of_body %>
</body>
</html>
